<nav>
  <ul>
    <li>
      <a routerLink='departments' routerLinkActive='active'>Department List</a>
      <a routerLink='employee' routerLinkActive='active'>Employee List</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
